
[submodule "tensorflow/lite/delegates/MetaWareNN/builders/metawarenn_lib"]
	path = tensorflow/lite/delegates/MetaWareNN/builders/metawarenn_lib
	url = https://gitsnps.internal.synopsys.com/dwc_ev/metawarenn_lib.git
